* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    display: flex;
    position: relative;
}
    .wrapper .sidebar {
        position: fixed;
        width: 300px;
        height: 100%;
        background: #4b4276;
        padding: 30px 0px;
        
    }
.about-top{
    background-image:url('/Content/images/teamwork.jpg');
    min-height:400px;
}
 .about-top > h1 {
        margin-top: 20px;
        text-align: center;
        color: chocolate;
        font-family: courier,arial,helvetica;
    }
 .about{
     margin:20px;
 }
  .wrapper .sidebar .logo {
        margin: 30px;
    }
.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
}

.mb {
    margin-bottom: 10px;
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
    list-style-type:none;
    text-decoration:none;
   
}
.wrapper .main-content{
    width:100%;
    margin-left: 300px;
    padding-left: 20px;
}


/*.side-bar:hover {
        background-color: chocolate;
        border-radius: 15px;

    }*/
.wrapper .sidebar ul li a .fa {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}

.wrapper .sidebar ul li a:hover {
    color: #fff;
}

    
    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
password,
textarea {
    max-width: 400px;
}
