
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Sign-in-layout.cshtml";
}

    <div class="row">
        <div class="col-6"><img src="~/Content/images/team-collaboration-1.jpg"></div>
        <div class="col-6">

            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" id="email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="Password" name="password" class="form-control" placeholder="Password" id="password">
                    </div>
                    @Html.CheckBox("Remember Me", false)Remember Me
                    <button class="btn btn-success" style="position:absolute;
                        right:35px;">
                        Login
                    </button>
                </fieldset>


            </form>
           
        </div>

    </div>



