@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="about-top">
    <h1> @ViewBag.heading</h1>
</div>
<div class="about">
    Organization internal social network is a web solution application that 
    will address the above problem. The features of the propose solution will include:
    <ol>
        <li>Employees will be able to post gifs</li>
        <li>Employees will be able to write and post articles.</li>
        <li>Employees will be able delete their articles</li>
        <li>Employees will be able to comment on other colleague’s post.</li>
        <li>Employees will be able to view all articles and gifs show the recently posted article or gifs</li>
        <li>Employees will be able to view a specific articles or gifs.</li>

    </ol>
</div>

