*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img{
	width: 100%;
	height: 650px;
}

fieldset{
	margin: 20px;
	margin-top: 200px;
}

input[type="email"],
input[type="password"]{
	border-top: none;
	width: 100%;
}