<div class="logo">

    <img src="~/Content/images/logo3.png" alt="Alternate Text" width="200" />
    <h1>TeamConnect</h1>

    <nav class="side-bar-menu">

        <div class="side-bar">@Html.ActionLink("Post Article", "PostArticle", "Article")</div>
        <div class="side-bar">@Html.ActionLink("Post Gif", "PostGif", "Gif")</div>
        <div class="side-bar">@Html.ActionLink("View Article", "ViewArticles", "Article")</div>
        <div class="side-bar">@Html.ActionLink("View Gif", "DisplayGif", "Gif")</div>

        <!--<div class="list-group">-->
            @*<a href="PostArticle" class="list-group-item"><i class="fa fa-send fa-fw" aria-hidden="true"></i> PostArticle</a>*@
            <!--<a href="PostGif" class="list-group-item"> <i class="fa fa-send fa-fw" aria-hidden="true"></i>Post Gif</a>
            <a href="ViewGif" class="list-group-item"> <i class="fa fa-eye fa-fw" aria-hidden="true"></i>ViewArticle </a>
            <a href="ViewArticle" class="list-group-item"> <i class="fa fa-eye fa-fw" aria-hidden="true"></i>ViewArticle </a>

        </div>-->


    </nav>
</div>
