<div class="logo">

    <img src="~/Content/images/logo3.png" alt="Alternate Text" width="200" />


</div>
<h2>TeamsConnect</h2>
<ul>
    <li> <a href="@Url.Action( "PostArticle", "Article")"><i class="fa fa-upload "aria-hidden="true"></i>Post Article</a></li>
    <li> <a href="@Url.Action( "PostGif", "Gif")"><i class="fa fa-upload "aria-hidden="true"></i>Post Gif</a></li>
    <li> <a href="@Url.Action( "ViewArticles", "Article")"><i class="fa fa-eye "aria-hidden="true"></i>View Article</a></li>
    <li> <a href="@Url.Action( "DisplayGif", "Gif")"><i class="fa fa-eye "aria-hidden="true"></i>View Gif</a></li>
</ul>

