@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-in</title>

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/sign-in-style.css">
</head>
<body>
    @RenderBody()


    <script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
    <!-- Popper -->
    <script src="~/Contentjs/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="~/Contentjs/bootstrap.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                if ($("img").attr("src") === "~/Content/images/team-collaboration-1.jpg") {
                    $("img").attr("src", "~/Content/images/team-collaboration-3.png");
                }
                else {
                    $("img").attr("~/Content/images/team-collaboration-1.jpg");

                }

            }, 5000);

        });
    </script>

</body>
</html>
